* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background: url(./images/img2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS';
}

.container {
    /*parent of div container is body*/
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerContainer {
    padding: 1.125rem;
}

img {
    /*As center tag is deprecated in HTML5 
    need to use this to center inline element*/
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 2.6rem;
    text-align: center;
    padding: 1.05rem;
    width: max-content;
}

input {
    display: block;
    padding-bottom: 1.25rem;
    padding-left: 0.625rem;
    width: 100%;
    margin: 1.25rem 0 1.25rem 0;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    font-size: 1.125rem;
}

input:focus {
    border-bottom-color: green;
}

button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0.625rem;
    border: none;
    border-radius: 5px;
    background-color: #f50056;
    color: white;
    /*Thickness of font*/
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

#otherLinks {
    margin-top: 0.938rem;
    /*As center tag is deprecated in HTML5 
    need to use this to center text*/
    text-align: center;
}

a,
span {
    color: gray;
    text-decoration: none;
}

#forgotPassword {
    display: block;
    width: fit-content;
    margin: 0 auto 0.313rem auto;
}

#signup {
    color: #f50056;
    font-weight: bold;
}