* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/img2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS';
}

.container {
    /*parent of div container is body*/
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerContainer {
    padding: 18px;
}

img {
    /*As center tag is deprecated in HTML5 
    need to use this to center inline element*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 20px;
    width: max-content;
}

input {
    display: block;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    margin: 20px 0 20px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    font-size: 16px;
}

input:focus {
    border-bottom-color: green;
}

button {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f50056;
    color: white;
    /*Thickness of font*/
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

a {
    color: gray;
    text-decoration: none;
}

span {
    color: gray;
}

#otherLinks {
    margin-top: 15px;
    /*As center tag is deprecated in HTML5 
    need to use this to center text*/
    text-align: center;
}

#signup {
    color: #f50056;
    font-weight: bold;
}